<h1>All Users</h1>
<p><%= '-' * 60 %></p>
<% @users.each do |user| %>
  <section id="user-<%= user.id %>">
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email_address %></p>
  </section>
  <p><%= '-' * 60 %></p>
<% end %>
<%= link_to "Register as User", new_user_path %>
